.body {
    background-color: #fff;
}

.nav-link {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    
}

a.nav-link {
    color: #fff !important;

}

a.nav-link:hover {
    color: goldenrod !important;
}

.active {
    color: goldenrod !important;
}

